body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

.empty-background {
    background-color: darkblue;
    color:#f9faf8;

}
nav ul {

    display: flex;
    justify-content: flex-end;
    color: #f9faf8;
    padding-top: 15px;
    padding-right:  40px;
    /* margin: -10px; */
}

.logo {
    margin-right: auto;
    padding-left:  40px;
}

ul {
    list-style:none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;   

}

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 80px;
}


button {

    width: 100px;
}

img {
    margin: 30px;
    width: 150px;
    height: 150px;
}


.second-container {
    display: flex;
    margin: 100px;
}

.second-header {
display: flex;
 justify-content: center;
 margin: -20px 0 -60px 0;

}