body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}

.empty-background {
    background-color: #1f2937;
    color:#f9faf8;

}
nav ul {

    display: flex;
    justify-content: flex-end;
    color: #f9faf8;
    padding-top: 15px;
    padding-right:  40px;
}

.logo {
    margin-right: auto;
    padding-left:  40px;
}

ul {
    list-style:none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #f9faf8;   

}

.flex-container {
    display: flex;
    margin: 80px;
}


button {

    width: 100px;
}

img {
    margin: 30px;
    width: 150px;
    height: 150px;
    border: .4rem solid #3882F6;
    border-radius: 25px;
}


.second-container {
    display: flex;
    margin: 100px;
}

.second-header {
    display: flex;
    justify-content: center;
    margin: -20px 0 -60px 0;

}

.third-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    
}

.background-two {

    background-color: #e5e7eb;
}

.third-content {

    padding: 0 60px; 
    padding-top: 60px
}

.quote {

    display: flex;
    margin-left: auto;
    padding-bottom: 50px;
}

.fourth-container {
    display: flex;
    margin: 100px;
    background-color: #3882F6;
    color: white;
    padding: 10px 40px;
    border-radius: 25px;
    justify-content: space-evenly;
    
}

.fourth-button { 

    margin-top: 40px;

}

.final-background {
    padding: 20px 0;
    background-color: #1f2937;
    color:#f9faf8;

}

.footer{

    display: flex;
    justify-content: center;
}